* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: black;
    color: white;
}

html {
    scroll-behavior: smooth;
    overflow-y: hidden;
}

body {
    font-family: 'Luxurious Roman', cursive;
    font-size: 24px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
h1, h2, h3, h4, p, small {
    margin: 0;
}
a {
    text-decoration: none;
}

/* Menu flottant */
aside {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
nav a:not(nav a:last-child) {
    margin-right: 10px;
}
nav a {
    font-family: "Luxurious Roman";
    color: black;
    background: white;
    width: 180px;
    height: 35px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s, color 0.5s;
}
nav a:first-child, nav a:hover {
    background: black;
    color: white;
}

/* main */
main {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    overflow-y: scroll;
    height: 100vh;
}
section {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}

.republic {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.republic > p {
    font-family: 'attache';
}
.republic > p:first-child {
    font-size: clamp(0.7rem,3vw,2.5rem);
}
.republic > p:nth-child(2) {
    font-size: clamp(2rem,7vw,8rem);
}
.republic > p:last-child {
    font-size: clamp(0.9rem,4vw,3rem);
}
#gregorien {
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
#gregorien > h1 {
    font-size: 2rem;
}
#gregorien > p {
    font-style: italic;
}
input[type="datetime-local"] {
    margin-top: 10px;
    text-align: center;
    background: none;
    border: solid 2px black;
    padding: 4px 12px 4px 12px;
    border-radius: 5px;
    font-family: 'Luxurious Roman';
    font-weight: bolder;
    font-size: 18px;
}
footer {
    font-size: 1rem;
    position: fixed;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
}
footer > div {
    display: flex;
    justify-content: space-evenly;
    width: 104px;
    background: linear-gradient(to right, #03224c 58%, #fcddb3 50%);
}
footer > div > p {
    font-family: 'canal';
}
footer > div > p:first-child {
    color: #fcddb3;
}
footer > div > p:last-child {
    color: #03224c;
}
@media all and (max-width: 1623px) {
    .dateR, .dateC {
        font-size: 7rem;
    }
}
@media all and (max-width: 1420px) {
    .dateR, .dateC {
        font-size: 6rem;
    }
}
@media all and (max-width: 1217px) {
    .dateR, .dateC {
        font-size: 5rem;
    }
}
@media all and (max-width: 1014px) {
    .dateR, .dateC {
        font-size: 4rem;
    }
}
@media all and (max-width: 811px) {
    .dateR, .dateC {
        font-size: 3rem;
    }
}
@media all and (max-width: 610px) {
    .dateR, .dateC {
        font-size: 2.5rem;
    }
    .hR, .hC, .jourR, .jourC {
        font-size: 1.5rem;
    }
    #gregorien > h1 {
        font-size: 1.75rem;
    }
    #gregorien > p {
        font-size: 1.25rem;
    }
}